@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Alan Geovannie Morales Salazar<br />
    Estudiante del:<br />
    Instituto Tecnológico Superior de Monclova<br />
    <abbr title="">Direccion:</abbr>
    Carreter 57 km 4.5 Unidad Tecnológica y, Universidad, 95245 Monclova, Coah.
</address>

<address>
    <strong>Correo:</strong>   <a href="am6390708@gmail.com">am6390708@gmail.com</a><br />
    <strong>Pagina Oficial:</strong> <a href="https://www.itsmva.edu.mx/sitio/">www.itsmva.edu.mx</a>
</address>