@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Refaccionaria Tablas</h2>
    <p class="lead"></p>

    <a href="https://localhost:44395/Accesorio" class="btn btn-primary btn-sm">Accesorio &raquo;</a>
    <a href="https://localhost:44395/Asentamiento" class="btn btn-primary btn-sm">Asentamiento &raquo;</a>
    <a href="https://localhost:44395/AutoParte" class="btn btn-primary btn-sm">AutoParte &raquo;</a>
    <a href="https://localhost:44395/Cliente" class="btn btn-primary btn-sm">Cliente &raquo;</a>
    <a href="https://localhost:44395/Compra" class="btn btn-primary btn-sm">Compra &raquo;</a>
    <a href="https://localhost:44395/Descuento" class="btn btn-primary btn-sm">Descuento &raquo;</a>
    <a href="https://localhost:44395/Empleado" class="btn btn-primary btn-sm">Empleado &raquo;</a>
    <a href="https://localhost:44395/EquipoComputo" class="btn btn-primary btn-sm">EquipoComputo &raquo;</a>
    <a href="https://localhost:44395/Estado" class="btn btn-primary btn-sm">Estado &raquo;</a>
    <a href="https://localhost:44395/Factura" class="btn btn-primary btn-sm">Factura &raquo;</a>
    <a href="https://localhost:44395/FormaPago" class="btn btn-primary btn-sm">FormaPago &raquo;</a><hr />
    <a href="https://localhost:44395/Marca" class="btn btn-primary btn-sm">Marca &raquo;</a>
    <a href="https://localhost:44395/Moviliario" class="btn btn-primary btn-sm">Moviliario &raquo;</a>
    <a href="https://localhost:44395/Municipio" class="btn btn-primary btn-sm">Municipio &raquo;</a>
    <a href="https://localhost:44395/Producto" class="btn btn-primary btn-sm">Producto &raquo;</a>
    <a href="https://localhost:44395/Proveedor" class="btn btn-primary btn-sm">Proveedor &raquo;</a>
    <a href="https://localhost:44395/Publicidad" class="btn btn-primary btn-sm">Publicidad &raquo;</a>
    <a href="https://localhost:44395/Quimico" class="btn btn-primary btn-sm">Quimico &raquo;</a>
    <a href="https://localhost:44395/Sucursal" class="btn btn-primary btn-sm">Sucursal &raquo;</a>
    <a href="https://localhost:44395/Empleado" class="btn btn-primary btn-sm">Empleado &raquo;</a>
    <a href="https://localhost:44395/TipoAsentamiento" class="btn btn-primary btn-sm">TipoAsentamiento &raquo;</a>
    <a href="https://localhost:44395/TipoAutoparte" class="btn btn-primary btn-sm">TipoAutoparte &raquo;</a><hr />
    <a href="https://localhost:44395/TipoEmpleado" class="btn btn-primary btn-sm">TipoEmpleado &raquo;</a>
    <a href="https://localhost:44395/TipoProveedor" class="btn btn-primary btn-sm">TipoProveedor &raquo;</a>
    <a href="https://localhost:44395/Usuario" class="btn btn-primary btn-sm">Usuario &raquo;</a>
    <a href="https://localhost:44395/Venta" class="btn btn-primary btn-sm">Venta &raquo;</a>
    <a href="https://localhost:44395/Zona" class="btn btn-primary btn-sm">Zona &raquo;</a>
    <a href="https://localhost:44395/AutoparteSucursal" class="btn btn-primary btn-sm">AutoparteSucursal &raquo;</a>
    <a href="https://localhost:44395/ClienteCompra" class="btn btn-primary btn-sm">ClienteCompra &raquo;</a>
    <a href="https://localhost:44395/ClienteProducto" class="btn btn-primary btn-sm">ClienteProducto &raquo;</a>
    <a href="https://localhost:44395/ClienteSucursal" class="btn btn-primary btn-sm">ClienteSucursal &raquo;</a><hr />
    <a href="https://localhost:44395/EmpleadoProducto" class="btn btn-primary btn-sm">EmpleadoProducto &raquo;</a>
    <a href="https://localhost:44395/ProductoCompra" class="btn btn-primary btn-sm">ProductoCompra &raquo;</a>
    <a href="https://localhost:44395/ProductoVenta" class="btn btn-primary btn-sm">ProductoVenta &raquo;</a>
    <a href="https://localhost:44395/QuimicosSucursal" class="btn btn-primary btn-sm">QuimicosSucursal &raquo;</a>
    <a href="https://localhost:44395/SucursalAccesorio" class="btn btn-primary btn-sm">SucursalAccesorio &raquo;</a>
    <a href="https://localhost:44395/SucursalEquipoComputo" class="btn btn-primary btn-sm">SucursalEquipoComputo &raquo;</a>
    <a href="https://localhost:44395/SucursalEstado" class="btn btn-primary btn-sm">SucursalEstado &raquo;</a><hr />
    <a href="https://localhost:44395/SucursalMoviliario" class="btn btn-primary btn-sm">SucursalMoviliario &raquo;</a>
    <a href="https://localhost:44395/SucursalProveedor" class="btn btn-primary btn-sm">SucursalProveedor &raquo;</a>
    <a href="https://localhost:44395/SucursalPublicidad" class="btn btn-primary btn-sm">SucursalPublicidad &raquo;</a>
    <a href="https://localhost:44395/TipoAsentamientoZona" class="btn btn-primary btn-sm">TipoAsentamientoZona &raquo;</a>
    <a href="https://localhost:44395/VentaEmpleado" class="btn btn-primary btn-sm">VentaEmpleado &raquo;</a>
    <a href="https://localhost:44395/Usuario" class="btn btn-primary btn-sm">Usuario &raquo;</a>
</div>

<div class="row">
    @*<div class="col-md-4">

        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>